@font-face {
    font-family: 'icons';
    src:  url('../fonts/icons.eot?968yg4');
    src:  url('../fonts/icons.eot?968yg4#iefix') format('embedded-opentype'),
      url('../fonts/icons.ttf?968yg4') format('truetype'),
      url('../fonts/icons.woff?968yg4') format('woff'),
      url('../fonts/icons.svg?968yg4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-add:before {
    content: "\e900";
    color: #fff;
  }
  .icon-menu:before {
    content: "\e901";
  }
  .icon-minus-symbol:before {
    content: "\e902";
    color: #fff;
  }
  