@import '../../assets/styles.scss';

.item-title {
    margin-top: 15px;
    margin-bottom: 10px;
}

table {

    &.full-width {
        width: 100%;
    }

    background: #fff;
    margin-top: 20px;
    text-align: justify;
    border-spacing: 0;
    padding: 0 10px;

    td,
    th {
        font-size: 1.2rem;

        &:last-of-type {
            text-align: center;
        }

        padding: 20px;

    }
    tr{
        td{
            text-align: left;
        }
    }

    th {
        border-bottom: 2px solid $main-grey;
    }

    td {
        border-top: 1px solid $main-grey;
    }
}

@media only screen and (max-width: 600px) {
    .item-title {
        margin-top: 5px;
    }

    table {
        padding: 0 5px;

        td,
        th {
            padding: 10px;
        }

    }
}